.header {
    top: 0px;
    left: 0px;
    width: 1930px;
    height: 50px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: fixed;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 70%;
    margin-left: 190px;
    padding: 10px;
    gap: 5px;
}

.logo-text-content {
    display: flex;
    flex-direction: column;
}

.logo-content-img {
    border: solid 0px #42515f;
    width: 30px;
    height: 30px;
}

.emp {
    font: normal normal bold 15px/15px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp1 {
    font: normal normal bold 15px/15px Montserrat;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    color: #42515f;
    text-transform: capitalize;
}

.form {
    top: 70px;
    width: 750px;
    height: 550px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #F5F5F5;
    border-radius: 8px;
    position: fixed;


}

body {
    background-color: #F7F7F7;
}

.title {
    padding-left: 64px;
    font: normal normal bold 19px/37px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
}

.elements {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: 50px;
}

.space {
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border: 1px solid #B4B4B4;
    position: relative;
    top: 6px;
}

label[for="checkbox"] {
    width: 24px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    padding-left: 5px;
    padding-right: 15px;
}

label[for="radio"] {
    width: 39px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    padding-right: 40px;
}


input[type="checkbox"] {
    width: 20px;
    height: 20px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 1px;
    opacity: 1;
    top: 8px;
    position: relative;

}

#fname {
    top: 252px;
    left: 688px;
    width: 450px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
    margin-left: 0px;
}

.Image {
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
}

img {
    width: 35px;
    height: 35px;
    padding-left: 5px;
}

label {
    width: 15%;
    margin-left: 5px;
    color: #42515F;
    font: normal normal 18px/24px Roboto;
}

option,
select {
    color: #42515F;
    font: normal normal 18px/24px Roboto;
    outline: none;
}

.StartDate {
    display: flex;
    width: 6%;
    margin-left: 0px;
}

.Salary {
    width: 100px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.Date {
    width: 100px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
    text-align: center;
    margin-right: 30px;
}

#notes {
    width: 450px;
    height: 50px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}


.cancel {
    left: 540px;
    width: 120px;
    height: 42px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    padding: 7px 10px;
    background: #E2E2E2;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
}

.submit,
.reset {
    width: 120px;
    height: 42px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 8px 16px;
    background: #E2E2E2;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font: normal normal normal 20px/26px Roboto;

}

.cancel:hover {
    background-color: #969696;
    color: white;
}

.reset:hover {
    background-color: #969696;
    color: white;
}

.submit:hover {
    background-color: #82A70C;
    color: white;
}

.submit-reset {

    text-align: right;
    margin-left: 180px;
    justify-content: space-between;

}